{
  "parser": "babel-eslint", // tootlbar jsx报 error  Parsing error: Unexpected token <
  "extends": "airbnb-base",
  "rules": {
    "no-console": "off",
    "semi": "off",
    "max-len": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "comma-dangle": "off"
    // "semi": ["error", "always"]
  }
}
